.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 75px);
    row-gap: 10px;

    .org-opt {
        display: flex;
        flex-direction: row;
        height: 50%;
        column-gap: 10px;

        .org-col {
            @apply bg-white;
            @apply border-2;
            flex:6;
            .title {
                @apply bg-[#C4C4C4];
                padding: 1rem;
                font-size: larger;
            }
        }
        .org-req {
            width: 100%;
            flex: 6;
            @apply bg-neutral-200;
            @apply border-2;
            @apply rounded-md;
            
            .menu {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: larger;  
                border-radius: 5px;
                text-align: center;
                font-weight: bold;
                .alerts {
                    flex: 1;
                    width: 100%;
                    padding: 1rem;
                    @apply rounded-md;
                }
                
                .requests {
                    flex: 1;
                }
            }

            .menu .active {
                @apply bg-[#9FC131];
                @apply text-white;
            }
        }
    }

    .table-container {
        display: flex;
        height: 50%;
        @apply mb-4;
        .org-table {
            @apply bg-white;
            width: 100%;

            .table-auto {
                @apply mt-4;
                width: 100%;

                .table-header {
                    @apply bg-[#c4c4c4];
                    @apply rounded-md;
                }

                tbody {
                    tr {
                        td{
                            @apply text-center pt-2;
                            align-items: center;
                        }
                        .actions {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            font-size: larger;
                            min-height: 100%;
                            // height: 47px;
                        }
                    }
                }
            }
        }
    }
}